[Unit]
Description=couchbase
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/bin/sh -c "docker inspect couchbase >/dev/null 2>&1 && docker rm -f couchbase || true"
ExecStartPre=/usr/bin/docker pull registry.bgchtest.info:5000/couchbase
ExecStart=-/usr/bin/docker run --name couchbase -e CB_INIT_RAMSIZE=1024 -p 4369:4369 -p 8091:8091 -p 8092:8092 -p 11209:11209 -p 11210:11210 -p 11211:11211 registry.bgchtest.info:5000/couchbase
ExecStop=/usr/bin/docker stop couchbase

[X-Fleet]
X-ConditionMachineMetadata="az=eu-west-1c"
